# modules d'appelle API
requests
urllib3

#module d'l='acces aux base de données
psycopg2
psycopg2-binary
SQLAlchemy


# modules de traitement de données
pandas
modin

# module utilitaires
python-dotenv
PyYAML



# modules annexes
pytest
PyYAML